.contentContainerAdmin {
    color: #77252A;
    font-family: "Kodchasan", sans-serif;
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 100px;
    height: 100vh;
}

.contentContainerAdmin hr {
    margin-top: 10px;
    width: 100%;
    border: 1px solid #77252A;
}

.headerSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.descSection span {
    font-size: 18px;
}

.addSection {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
}

.addSection .emptyContainerAdmin{
    padding-top: 70px;
}

.addSection button {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #77252A;
    border: none;
    background: transparent;
    cursor: pointer;
}

.roomTable {
    width: 100%;
    text-align: left;
    font-size: 18px;
    border-collapse: collapse;
}

.roomTable .tableHeaders {
    background-color: #EDAEC0;
    border-bottom: 0px;
}

.roomTable tr { 
    border-bottom: 1px solid #77252A;
}

.roomTable .actionHeader {
    text-align: right;
    padding-right: 20px;
}

.roomTable .actions {
    text-align: right;
    padding-right: 10px;
}

.roomTable .actions a {
    color: #77252A;
    padding-right: 10px;
}

.roomTable tr {
    height: 40px;
}

.roomTable td {
    padding-left: 10px;
}

.roomTable th {
    padding-left: 10px;
}

.roomNamePopup {
    color: #77252A;
    width: 400px;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    background-color: #EDAEC0;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 30%;
    border: 1px solid #77252A;
    font-size: 24px;
    z-index: 100;
}

.roomNamePopup .roomCreation {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #77252A;
    border: none;
    font-family: "Kodchasan", sans-serif;
    height: 40px;
    width: 140px;
    border-radius: 8px;
    cursor: pointer;
}

.roomNamePopup .cancel {
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 100;
    color: #CC4B54;
    font-weight:bolder;
    background-color: #EDAEC0;
    border: none;
    height: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
}
