.enterUsernameContainer {
    display: flex;
    flex-direction: column;
    color: #77252A;
    font-family: "Kodchasan", sans-serif;
    background-color: #F8CDC9;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
}

.enterUsernameContent {
    padding-top: 20px;
}

.enterUsernameContent .wedpic {
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.enterUsernameContent .loveLens {
    display: flex;
    justify-content: center;
}

.enterUsernameContent .roomUsername {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.enterUsernameContent .roomUsername p {
    font-size: 18px;
    font-weight: bold;
}

.enterUsernameContent .usernameSubmission {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.enterUsernameContent .submitUsername {
    display: flex;
    justify-content: center;
}

.enterUsernameContent button {
    font-weight: bold;
    color: white;
    background-color: #EDAEC0;
    border: none;
    font-family: "Kodchasan", sans-serif;
    height: 40px;
    width: 140px;
    border-radius: 8px;
    font-size: 18px;
}