.contentContainerMain {
    color: #77252A;
    font-family: "Kodchasan", sans-serif;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.contentContainerMain .roomDetails {
    font-weight: bold;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    background-color: #EDAEC0;
    flex: 0 0 20%;
    justify-content: space-between;
}

.contentContainerMain .roomDetails .joinRoom {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contentContainerMain .roomDetails p {
    font-size: 18px;
}

.contentContainerMain .roomDetails img {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
}

.contentContainerMain .roomDetails .roomCode {
    font-size: 24px;
    text-align: center;
}

.contentContainerMain .roomDetails .participants {
    padding-bottom: 10px;
}

.contentContainerMain .roomDetails .participantCount {
    font-size: 24px;
    text-align: center;
}

.contentContainerMain .photoCollage {
    margin-top: 100px;
    flex-grow: 1;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 350px;
    row-gap: 20px;
    width: 100%;
    justify-items: center;
}

.contentContainerMain .photoCollage .imageBox {
    height: auto;
    width: auto;
}

.contentContainerMain .photoCollage .wedpic {
    position: absolute;
    z-index: 1;
}

.contentContainerMain .photoCollage .tape1 {
    position: relative;
    z-index: 2;
    top: -30px;
    left: -30px;
}

.contentContainerMain .photoCollage .tape2 {
    position: relative;
    z-index: 3;
    top: 230px;
    left: 110px;
}

