.mobileMainContainer {
    display: flex;
    flex-direction: column;
    color: #77252A;
    font-family: "Kodchasan", sans-serif;
    background-color: #F8CDC9;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.mobileMainContainer .mainHeaderContainer {
    background-color: #EDAEC0;
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
}

.mainHeaderContainer .headerLoveLens {
    padding-top: 20px;
    text-align: center;
}

.mainHeaderContainer .headerLoveLens .prodName {
    font-size: 20px;
}

.mainHeaderContainer .welcomeMsg {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.mainHeaderContainer .welcomeMsg p {
    text-align: center;
    font-size: 16px;
}

.mobileMainContent {
    align-items: center;
    display: flex;
}

.mobileMainContent .photoList {
    margin-top: 60px;
    flex-grow: 1;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 350px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.mobileMainContent .photoList .wrapImage {
    display: flex;
    justify-content: center;
}

.mobileMainContent .photoList .imageBox {
    height: auto;
    width: auto;
}

.mobileMainContent .photoList .wedpic {
    height: 250px;
    width: 250px;
    position: absolute;
    z-index: 1;
    object-fit: fill;
}

.mobileMainContent .photoList .tape1 {
    scale: 70%;
    position: relative;
    z-index: 2;
    top: -40px;
    left: -45px;
}

.mobileMainContent .photoList .tape2 {
    scale: 70%;
    position: relative;
    z-index: 3;
    top: 160px;
    left: 45px;
}

.addPicButton {
    position: fixed;
    right: 5%;
    bottom: 3%;
    z-index: 100;
    color: #CC4B54;
    font-weight:bolder;
    background-color: #EDAEC0;
    border: none;
    height: 60px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
}

.chooseFile {
    position: fixed;
    right: 5%;
    bottom: 3%;
    z-index: 100;
    color: #CC4B54;
    font-weight:bolder;
    background-color: #EDAEC0;
    border: none;
    height: 60px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    opacity: 0;
}